@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply  text-gray-300
}

.contenedor{
    /* display: table; */
}
.contenedor h2{
    float: left;
    position: relative;
}
.contenedor h2 span {
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid gray;

    animation: maquina 5s infinite alternate steps(25);
}

.card-skills{
    @apply border-b-4 border-gray-400 p-3 bg-gray-700
}
.card-skills-div{
    @apply flex gap-6 flex-wrap px-2
}
.a-skip {
    @apply text-center hover:text-gray-500 cursor-pointer text-sm
}
@keyframes maquina{
    from {
        width: 100%;
    }
    to {
        width: 0;
    }

}
